

.gameCards {
    min-width: 120px !important;
    max-width: 120px !important;
    min-height: 150px !important;
    max-height: 150px !important;
}

@media(min-width:768px){
    .gameCards {
        min-width: 160px !important;
        max-width: 160px !important;
        min-height: 180px !important;
        max-height: 180px !important;
    }
}

@media(min-width:992px) {
    .gameCards {
        min-width: 180px !important;
        max-width: 180px !important;
        min-height: 200px !important;
        max-height: 200px !important;
    }
}

@media(min-width:1200px) {
    .gameCards {
        min-width: 200px !important;
        max-width: 200px !important;
        min-height: 230px !important;
        max-height: 230px !important;
    }
}
