@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/styleLayout.css">
<link rel="stylesheet" href="/css/styleCheckout.css"><link rel="stylesheet" href="/css/styleLayout.css">

<div class="container-md mt-md-5 mt-3 ml-md-5 ml-md-5" id="gameCartView">
    
</div>

<div id="toaster" style="display: none; position: fixed; bottom: 10px; right: 10px; background: lightgreen; padding: 10px;">
	<span id="toasterMessage"></span>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script>

    const connection = new signalR.HubConnectionBuilder()
		.withUrl("/cartHub")
		.build();
	connection.start().then(function () {
		console.log("SignalR Connected.");
	}).catch(function (err) {
		return console.error(err.toString());
	});

    function showToaster(message) {
		var toaster = document.getElementById("toaster");
		document.getElementById("toasterMessage").innerText = message;
		toaster.style.display = "block";

		setTimeout(() => {
			toaster.style.display = "none";
		}, 3000);
	}

    connection.on("CartUpdated", function (message) {
		showToaster(message);
	});

	function displayCart(){
        $.ajax({
            url: '/Payment/GetCart',
            type: 'GET',
            success: function(cart){
                var cartView = $('#gameCartView');
                cartView.empty();
                var total = 0;
                if (cart.length === 0) {
                    cartView.append('<h1 class="text-white">Your Cart is empty.</h1>');
                }
                else {
                    var cartContent = '<div class="row d-flex justify-content-around" style="">';
                    for (var i = 0; i < cart.length; ++i){
                        cartContent +=
                            '<div class="col-5 mt-md-5 mt-3 ml-md-2 ml-md-3">' +
                            '<div class="card me-3 cartGames">' +
                            '<img src="' + cart[i].imgPath + '" alt="Card image cap" class="card-img-top img-fluid" alt="..." style="height: 70%; object-fit: cover;">' +
                            '<div class="card-body">' +
                            '<div class="card-title">' + cart[i].name + '</div>' +
                            '<div class="d-flex justify-content-between align-items-center">' +
                            '<p>Price: $' + cart[i].price + '</p>' +
                            '<button type="button" class="btn btn-sm btn-danger my-1" data-id="' + cart[i].id + '"onclick="removeFromCart(this)"> Remove </button>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                        total += cart[i].price;
                    }
                    total = total.toFixed(2);
                    cartContent += '</div>';
                    cartContent += `
                        <hr style="height: 20px;background-color: white;">

                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button d-flex justify-content-center text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                            aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: #0B0316 !important;">
                                        Checkout
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <div class="container" style="height: auto; width:100%;">

                                            <form class="needs-validation" novalidate action="/Payment/GamesBought" method="post">
                                                <div class="form-row d-flex gx-3 justify-content-start">
                                                    <div class="col-md-5 mb-3">
                                                        <label for="validationTooltip01">Name On Card</label>
                                                        <input type="text" class="form-control" id="validationTooltip01" placeholder="Name On Card" required>
                                                    </div>
                                                    <div class="col-md-5 mb-3">
                                                        <label for="validationTooltip02">Credit Card Number</label>
                                                        <input type="text" class="form-control" id="validationTooltip02" placeholder="Credit Card Number" required>
                                                    </div>
                                                </div>
                                                <div class="form-row d-flex gx-3 justify-content-start">
                                                    <div class="col-md-3 mb-3">
                                                        <label for="validationTooltip03">Expiration Date</label>
                                                        <input type="text" class="form-control" id="validationTooltip03" placeholder="Expiration Date" required>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="validationTooltip04">CVV</label>
                                                        <input type="text" class="form-control" id="validationTooltip04" placeholder="CVV" required>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary" id="PayButton" onclick="GamesBought()" type="submit">Pay $${total}</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                    cartView.append(cartContent);
                }
            }
        });
	}
    displayCart();

    function removeFromCart(button){
        var id = button.getAttribute('data-id');

        $.ajax({
            url: '/Payment/RemoveFromCart',
            type: 'POST',
            data: { gameId: id },
            success: function (response) {
                connection.invoke("NotifyCartUpdated", "Cart Updated!").catch(err => console.error(err.toString()));
                displayCart();
            }
        });
    }

</script>
