@using Arcade.Models
@using System.Collections.Generic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model string

<div class="container-md mt-md-5 mt-3 mb-md-5 mb-3" id="gamesData">
    
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        function fetchGames(query = '') {
            $.ajax({
                url: '/Home/GetGamesList',
                type: 'GET',
                data: { searchQuery: query },
                success: function (games) {
                    var content = '';
                    let gamesPageData = $('#gamesData');
                    gamesPageData.empty();
                    content += '<div class="container-md mt-md-5 mt-3 ml-md-2 ml-md-3">';
                    console.log('Games data received:', games);
                    let i = 0;
                    while (i < games.length) {
                        let curr = games[i].genre;
                        content +=
                            '<div class="row mb-3">' +
                            '<div class="col">' +
                            '<h1 class="text-white mt-sm-3 mt-md-5">' +
                            games[i].genre +
                            '</h1>' +
                            '</div>' +
                            '</div>'
                        ;
                        content += '<div class="d-flex overflow-auto" style="white-space: nowrap;">';
                        while (i < games.length && curr == games[i].genre) {
                            content +=
                                '<a href="/Home/Details?id=' + games[i].id + '" class="gameA"style="text-decoration: none; display:inline-block;">' +
                                '<div class="card me-3 gameCards">' +
                                '<img src="' + games[i].imgPath + '" class="card-img-top img-fluid" alt="..." style="height: 70%; object-fit: cover;">' +
                                '<div class="card-body">' +
                                '<p class="card-title text-truncate fs-md-3 fs-4">' +
                                games[i].name +
                                '</p>' +
                                '</div> ' +
                                '</div>' +
                                '</a>'
                            ;
                            ++i;
                        }
                        content += '</div>';
                    }

                    content += '</div>';
                    gamesPageData.append(content);
                },
                error: function (xhr, status, error) {
                    let gamesPageData = $('#gamesData');
                    gamesPageData.empty();
                    gamesPageData.append('<p class="text-danger">ERROR: ' + error + '</p>');
                }
            });
        }

        fetchGames('@Model');
        $('#homeSearch').on('input', function () {
            let query = $(this).val();
            fetchGames(query);
        });

    });

</script>