@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
	<div class="row" style="background-color: #0B0316; min-height:500px">
		<div class="col-12">
			<p class="fs-1 text-white"><b>Details</b></p>
		</div>
		<div class="col-4">
			<img src="/images/image 34.png" alt="" class="img-fluid mx-auto" style="width: 75%; height: auto;">
			<br>
		</div>
		<div class="col-8">
			<p class="fs-1 text-white"><b>CALL OF DUTY: MODERN WARFARE 2</b></p>
			<br>
			<p class="fs-5 text-white">Call of Duty: Modern Warfare II is a 2022 first-person shooter game developed by Infinity Ward and published by Activision. It is the nineteenth installment of the Call of Duty series, serving as a sequel to the 2019 reboot of the Modern Warfare sub-series. </p>
			<br>
			<img src="/images/Group 119.png" alt="" class="img-fluid" style="margin-left: 43%;width: 6em;">
			<br>
			<br>
			<form action="/Checkout" method="get">
				@* <input type="hidden" name="gameName" value="@Model.GameName" /> *@
				<button type="submit" class="btn btn-success fs-md-2 fs-sm-5 fs-2 bt-block px-3"
						style="margin-left: 40%; border-radius: 100px; background-color: #300420;">
					Proceed
				</button>
			</form>
		@* 	<button class="btn btn-success fs-md-2 fs-sm-5 fs-2 bt-block px-3" style="margin-left: 40%;border-radius: 100px; background-color: #300420;">Proceed</button>
		 *@</div>
	</div>
</div>
<hr style="height: 20px;background-color: white;">
<div class="container-fluid">
	<div class="row align-items-center" style="background-color: #0B0316; min-height:300px">
		<div class="col-12">
			<p class="fs-1 text-white"><b>Reviews</b></p>
		</div>
		<div class="col-3">
			<img src="/images/image 30.png" alt="" class="img-fluid mx-auto" style="border-radius:200px;width: 40%; height: auto;">
			<br>
		</div>
		<div class="col-7">
			<p class="fs-1 fs-sm-4 fs-md-1 text-white"><b>Jonas Taylor</b></p>
			<br>
			<p class="fs-5 text-white">Call of Duty: Modern Warfare II  is an absolutely game to play with the family and friends. <br>Really recommend this game to the new gamers...<br> Thanks to the makers of this game... </p>
			<br>
		</div>
	</div>
</div>
