@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<div class="row" style="background-color: #0B0316; min-height:500px">
		<div class="col-12">
			<p class="fs-1 text-white"><b>Search Results</b></p>
		</div>
		<div class="col-4">
			<img src="/images/image 34.png" alt="" class="img-fluid mx-auto" style="width: 65%; height: auto;">
			<br>
		</div>
		<div class="col-8">
			<p class="fs-1 text-white"><b>CALL OF DUTY: MODERN WARFARE 2</b></p>
			<br>
			<p class="fs-5 text-white">Call of Duty: Modern Warfare II is a 2022 first-person shooter game developed by Infinity Ward and published by Activision. It is the nineteenth installment of the Call of Duty series, serving as a sequel to the 2019 reboot of the Modern Warfare sub-series. </p>
			<br>
			<br>

			<button class="btn btn-success fs-md-2 fs-sm-5 fs-2 bt-block px-3" style="border-radius: 100px; background-color: #300420;">Add to Cart</button>
			<img src="Group 119.png" alt="" class="img-fluid" style="width: 4em;">
		</div>
	</div>
</div>
