@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<div class="row" style="background-color: #0B0316; min-height:500px">
		<div class = "col-12">
			<p class="fs-1 text-white"><b>Checkout</b></p>
		</div>
		<div class = "col-2">
			<img src="/images/image 34.png" alt="" class="img-fluid mx-auto" style="width: 75%; height: auto;">
			<br>
		</div>
		<div class = "col-10">
			<p class="fs-3 fs-md-3 fs-sm-4 text-white"><b>CALL OF DUTY: MODERN WARFARE 2</b></p>
			<br>
			<p class="fs-6 fs-md-6 fs-sm-4 text-white">Call of Duty: Modern Warfare II is a 2022 first-person shooter game developed by Infinity Ward and published by Activision. It is the nineteenth installment of the Call of Duty series, serving as a sequel to the 2019 reboot of the Modern Warfare sub-series. </p>
			<img src="/images/Group 119.png" alt="" class="img-fluid" style="width: 6em;">
			<button class="btn btn-success fs-md-2 fs-sm-5 fs-2 bt-block px-3" style="margin-left: 50px;border-radius: 100px; background-color: #300420;">Remove</button>
			<img src="/images/bin.png" alt="" class="img-fluid mx-auto" style="width: 2%; height: auto;">
			<br>
			<br>
			<br>
			<br>
			<p class="fs-2 text-black" style="background-color: white; border-radius: 10px;"><b>TOTAL: $30</b></p>

		</div>
	</div>
</div>

<hr style="height: 20px;background-color: white;">
<div class="container-fluid" style="align-items: center;">
	<div class="row" style="background-color: #0B0316; min-height:500px;">
		<div class="col-12">
			<p class="fs-1 text-white"><b>Please Fill out the Details</b></p>
			<div data-mdb-input-init class="form-outline mt-1 mb-2">
				<input type="text" id="nameCheckout" class="form-control form-control-md" placeholder="Name" style="border-radius: 10px"/>
			</div>
			<br>
			<div data-mdb-input-init class="form-outline mt-1 mb-2">
				<input type="text" id="emailCheckout" class="form-control form-control-md" placeholder="Email" style="border-radius: 10px"/>
			</div>
			<br>
			<div data-mdb-input-init class="form-outline mt-1 mb-2">
				<input type="text" id="passCheckout" class="form-control form-control-md" placeholder="Password" style="border-radius: 10px"/>
			</div>
			<br>
			<div data-mdb-input-init class="form-outline mt-1 mb-2">
				<input type="text" id="ccCheckout" class="form-control form-control-md" placeholder="Credit Card Number" style="border-radius: 10px"/>
			</div>
			<br>
			<img src="/images/image 48.png" alt="" class="img-fluid mx-auto" style="margin-left: 50px;width: 12%; height: auto;">
			<button class="btn btn-success fs-md-2 fs-sm-5 fs-2 bt-block px-3" style="margin-left: 100px;border-radius: 100px; background-color: #300420;">Confirm</button>
		</div>
	</div>
</div>
