@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid text-center">
	<div class="row" style="background-color: #0B0316; min-height:500px">
		<div class="col-12">
			<p class="fs-1 text-white"><b>You are all Set!</b></p>
			<br>
			<p class="fs-4 text-white">Congratulations! Your order is confirmed. Please explore other games as well on the Arcade. <br>Stay Tuned for more games... <br>Happy shopping!</p>

			<p class="fs-1 text-white"><b>TEAM ARCADE</b></p>
			<img src="/images/g.png" alt="" class="img-fluid" style="width: 6em;">
			<br>
			<br>
			<button class="btn btn-success fs-md-2 fs-sm-5 fs-2 bt-block px-3" style="margin-left: 1px;border-radius: 100px; background-color: #300420;">Shop More</button>
		</div>
	</div>
</div>
